
.beatMaker{
  position: fixed;
  transform: translate(-50%, -8vh);
  top: 9vh;
  left: 46vw;
  height: 100%;
  

}
.drumMaker{

  height: 100% ;
  width: 100%;
  overflow-y: auto;

margin-bottom: 10vh;

}
.name{
  display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 2rem;
}
.name label{
  text-align: center;
  width: 100%;
}
.btnComboSubmit{
  width: 100%;
  display: flex;
  justify-content: center
}
input#name{
  text-align: center;
  width: 80%;
}
.combined{
  height: 100%; /* Full viewport height */
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
left: 0%;
top:1.5vh;
transform: translate(0%, -5vh);
margin-top: 10px;
background-color: rgba(0, 0, 0, 0);
padding: 20px;
overflow-y: auto
}


@media only screen and (orientation: landscape) {
  .drumMaker{
    position: fixed;
    top: 20vh;
    left: 50vw;
    transform: translate(-50%, 65vh);
    margin-bottom: 10vh;

  }


}

