.dkBm{
  width: 100vw;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
 
  justify-content: space-evenly
  ;
  height: 80vh;

}
.create h2{
  border-radius: 10px;
  width: 90%;
  text-align: center;
  background-color: #2323244a;
  box-shadow: inset 7px 7px 7px -8px #838388, inset -7px -7px 7px -8px #ffffff!important;
  text-shadow: -1px -1px 0 black,  
  0.3px -0.5px 0 black,
 -0.5px 0.5px 0 black,
  0.5px 0.5px 0 black;
}
.intro2{
  width: 100vw;
  justify-content: center
  ;
  height: 80vh;
}
#name{
  height:auto;
  width:80%!important;
  color: whitesmoke !important;
  background-color: #2323244a;
  box-shadow: inset 7px 7px 7px -8px #838388, inset -7px -7px 7px -8px #ffffff!important;

  }
  .name{
    box-shadow: inset 7px 7px 7px -8px #838388, inset -7px -7px 7px -8px #ffffff!important;
    background-color: #2323244a;
width: 80%;
position: relative;
left:10%;
padding-bottom:10px

  }
  
.dk {
  
    width: 100%;
    height: auto; /* Change height to auto */
    display: flex;
    flex-wrap: wrap !important; /* Add this line to allow wrapping */
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    margin-top: 2vh;
    padding: 7px;
    

  }
   
  .dkSL {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: auto;
    margin-bottom: 2vh; /* Increase margin to provide space between items */
    margin-top: 2vh; /* Increase margin to provide space between items */
  }
  
  .dkS {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000008d;
    width: min(15vw,16vh);
    height:min(15vw,15vh);
    border-radius: 50%;
    box-shadow: inset 8px 8px 10px #232324, inset -8px -8px 10px #ffffffa8!important;
gap:200px
  }
  
  .dkS input {
    background-color: #bdc3c75a;
    color: black;
    border: none;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 25px;
    height: 25px;
    margin-bottom: 1.25vh;
    
  }
  
.bm {
    display: flex;
    flex-wrap: wrap; /* Add this line to wrap the items */
    flex-direction: column;
  }
  .details{
    margin-bottom: 2vh;
    color: whitesmoke;
    background-color: rgba(7, 7, 7, 0.226);
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height: 20px;
    font-weight:bolder;
    letter-spacing:2px ;
  }
  
  .wrap{
    background-color: rgba(29, 28, 28, 0.304);
    box-shadow: inset 4vw 8vh 20rem #cbced1, inset -4vw -8vh 20rem #fff;
    width: 80%;
    position: relative;
  left:10%;
  }

  .wrap label{
    width: 100%;
    color: whitesmoke;
    background-color: rgba(7, 7, 7, 0.226);
  }