

.drumKitList {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center; /* Align items horizontally center */

height:auto;
  


  justify-content: center!important;
  border-radius: 7px;
}
.drumKitList ul{
  flex-direction: column;
  justify-content: center;
  height: auto;

}
.drumKitList li{
  margin:15px;
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:2px solid rgba(0, 0, 0, 0.68);
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff!important;
  text-shadow: -2px -2px 0 black,  
                1px -1px 0 black,
               -1px 1px 0 black,
                1px 1px 0 black;
                background-color: rgba(7, 56, 101, 0.532);
                border-radius: 10px;
                padding: 5px;
}
.drumKitList a{
  margin:15px;
  height: 100px;
  width: 100px;
  
  
}
.di{
  width: 90vw;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
border: 2px solid black;
margin:2px;
box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
height:auto;
}
.di button{
  font-size: 12px;
  height: 50px;
  width:120px;
  margin:10px
}
.drumKitList li a{
  
  margin:5px;
  height: 100px;
  width: 100px;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  
}

.drumKitListTitle{
  margin-top: 20px;
margin-bottom: 20px;
text-shadow: -2px -2px 0 black,  
                1px -1px 0 black,
               -1px 1px 0 black,
                1px 1px 0 black;
                background-color: rgba(0, 0, 0, 0.352);
                border-radius: 10px;
                padding: 5px;
}
/*#root {
  
  overflow: auto;
  margin-bottom: 20px;
margin: 0 auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}*/