.beat-creator {
  text-align: center;
  margin-top: 50px;
  overflow: hidden;
  position: relative; /* Ensure relative positioning for the parent container */
}
.bmC{background-color: green;

  position: fixed;
    width: 90vw;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
    height: 80vh; /* Full viewport height */
    top: 70vh;
    left: 50%;
    transform: translate(-50%, -70%);
    overflow-y: auto;
    overflow-x: hidden;
}
#carouselExample{        
  min-height: 80vh;
  height: auto;
   /* Full viewport height */
position: relative;  width: 100vw;
 top: 0%; 
 


}
/* Container for the beat grid */
.beat-grid-wrapper {
  overflow-x: hidden;
  width: 80vw; /* Set to a fixed width or adjust as needed */
  margin: 0 auto; /* Center the grid */
}

/* Container for the beat grid */
.beat-grid {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; /* Prevents wrapping of beat cells */
  transition: transform 0.3s ease; /* Smooth sliding transition */
  margin-top: 20vh;
  padding: 1vh;
  height: auto;
  width: 100vw;
  z-index: 9999;
}
.carousel-inner {

}
/* Individual beat cell */
.beat-cell {
  width: min(5vw, 5vh);
    height: min(5vh, 5vw);
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Individual row within the beat grid */
.beat-row {
  display: flex;

  text-overflow: ellipsis;



  align-items: center ;
   margin-bottom: 2px;
}

/* Active beat cell */
.beat-cell.active {
  background-color: #007bff; /* Set active beat cell color */
}

/* Beat cell currently playing */
.beat-cell.playing {
  background-color: #00ff00; /* Set color for beat cell currently playing */
}

/* Controls container */
.controls {
  overflow-x: hidden;
  align-items: center;
 justify-content: center;
 height: auto;
 width: 90%;
display: flex;
    padding-bottom: 10px;
    overflow-y: auto;
    padding-top: 3vh;
padding-bottom: 3vh;
margin-left: 5%;
margin-top: 15vh;
}

.noteNames {
  position: relative;
  left: -2%;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflow */
  text-overflow: ellipsis; /* Display ellipsis for overflowed text */
width: 100px;

background-color: #00ff00;
}

/* Button style */
.controls button {
  padding: 1px 5px ;
  margin-bottom: 10px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: #353f49;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
width: 90px;
height: 50px;
position: relative;
top: 0vh;
}

.combined{
  margin-top: 5rem;
}
/* Button hover effect */
.controls button:hover {
  background-color: #0fb300;
}
.bpm{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Tempo label */
.controls label {
  font-size: 16px;
  width:50px
  
}

/* Tempo input */
.controls input[type="number"] {
  width: 50px;
  height: 40px;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}



/* Tempo input range */
.controls input[type="range"] {
  width: 140px;
}

/* Tempo value display */
.tempo-value {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

/* Center the carousel control buttons horizontally */
.carousel-item.active {
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;


}


/* Center the control buttons vertically within their container */
.carousel-control-prev,
.carousel-control-next { 
  height: auto;
  margin-top: 20vh;
 z-index: 9999;
 

}
span.carousel-control-prev-icon,
span.carousel-control-next-icon { 

}
.carousel-control-next { 
  
}




/* Styling for the carousel control buttons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  width: 30px; /* Adjust size as needed */
  height: 100%; /* Adjust size as needed */
 
}
input{
  width: 100%;
}
#root{
  overflow-x: hidden;
  height: 100vh;
  padding: 10;
  width: 100vw;
}

